* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    transition: all .2s;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

/* menu */
.menu {
    width: 100%;
}

#menu-1 {
    display: block;
}

#menu-2 {
    display: none;
}

.menu ul {
    background-color: #FDD9D9;
    display: flex;
    padding: 3px 0;
    text-transform: uppercase;
    font-size: 16px;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

.menu ul li {
    cursor: pointer;
}

.menu ul li:hover {
    color: red;
}

.menu ul li img {
    height: 4rem;
    border-radius: 50%;
}

.screen {
    width: 100%;
    height: 100%;
    position: relative;
}

/* banner trang chủ */
.banner {
    width: 100%;
    height: 100%;
    display: flex;
}


.banner .banner-img,
.banner .banner-title {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner-title {
    flex-direction: column;
}

.banner-title h1,
.banner-title p {
    width: 50%;
}

.banner-title button {
    padding: .5rem;
    margin-top: 5px;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.banner-title button:hover {
    transform: translateY(-3px);
}

.banner .banner-img img {
    width: 30%;
    cursor: pointer;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 10px #000);
    animation: ani 10s infinite alternate-reverse linear;
}

.banner .banner-img img:hover {
    transform: scale(1.2);
}

/* form đăng nhập, đăng kí */
.login {
    transition: all .3s;
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
    z-index: 5;
    left: 0;
    height: 100vh;
    backdrop-filter: blur(5px);
}

.login div {
    position: relative;
    display: flex;
    border-radius: 10px;
    border: none;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    width: fit-content;
    margin: 150px auto;
    background-color: rgb(169, 238, 238);
}

.login div form {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.login div form input {
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 15px;
    padding: .4rem;
    border-radius: 2px;
}

.login div form input[type='submit'] {
    cursor: pointer;
}

.login div form span {
    color: red;
}

.login div form h3 {
    text-align: center;
}

.login button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    border: none;
    background: none;
    right: 10px;
}

/* giao diện sản phẩm */

.product-display {
    display: flex;
    height: 100%;
    background-image: linear-gradient(#A770EF, #CF8BF3, #FDB99B);
    /* background-image: url(./layout/views/w1.png); */
    width: 100%;
}

.product-display .menu-left {
    width: fit-content;
    padding: 10px;
    height: 100%;
    background: #d7bbbb50;
    color: #000;
}

.menu-left ul {
    list-style-type: none;
}

.menu-left ul .non-menu ul {
    margin-left: 15px;
}

.non-menu label,
.non-menu input {
    cursor: pointer;
}

.product-display .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-display .container .search-bar {
    width: 100%;
    padding: 10px;
    float: left;
    background-color: #ffffff67;
}

.search-bar div {
    border-radius: 5px;
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
}

.search-bar div input {
    height: 2rem;
    width: 250px;
    border: none;
    outline: none;
    padding: 5px;
    margin: 0;
    font-size: 15px;
}

.search-bar div button {
    height: 2rem;
    border: none;
    width: 70px;
    margin: 0;
    cursor: pointer;
    font-size: 15px;
}

.product-display .container .list-product {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}

.list-product .product {
    margin: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #d6bef5;
    width: 150px;
    height: 280px;
    border-radius: 6px;
    overflow: hidden;
}

.list-product .product:hover {
    cursor: pointer;
    transform: translateY(-4px);
}



.product .avt {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

.product img {
    height: 150px;
    padding: 9px;
}

.product .name {
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.product .action {
    background-color: rgb(158, 255, 158);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    font-size: 18px;
}


.product .action button {
    width: 2.4rem;
    height: fit-content;
    right: 0;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
}

.product .action button:hover {
    background-color: #d4c3c3;
}

::-webkit-scrollbar {
    display: none;
}

.list-product::-webkit-scrollbar {
    width: 18px;
    border-radius: 3px;
    background: #fff;
    display: block;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-image: linear-gradient(#00c3ff, #ffff1c);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #454242;
}

/* giao diện liên hệ */

.contact-layout {
    width: 100%;
    background-color: #c4b1b1;
    height: 100%;
}

.contact-layout .bg-1 {
    width: 100%;
    height: 200px;
    background-image: url(/f1662574287.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-1 .text-1 {
    color: #f7d9d9;
    width: 100%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000000;
    height: 100%;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    backdrop-filter: blur(4px);
}

.contact-layout .info-contact {
    width: 380px;
    margin: 100px auto;
    display: flex;
    height: 150px;
    background-color: #CF8BF3;
    border-radius: 10px;
    align-items: center;
    color: #fff;
    justify-content: space-around;
}

.info-contact ul {
    list-style-type: none;
}

.info-contact ul a {
    color: #fff;
    text-decoration: none;
}

.info-contact ul a:hover {
    color: #A770EF;
}

.info-contact img {
    height: 60px;
    border-radius: 50%;
}

.info-contact img:hover {
    cursor: pointer;
    transform: scale(1.3);
}

/* giao dien gio hang */
.cart-layout {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}

.cart-layout .info-product {
    display: flex;
    width: 100%;
    padding: 10px;
    height: 100px;
    border: .3px solid rgb(230, 219, 219);
    border-radius: 5px;
    align-items: center;
    margin: 9px;
}

.cart-layout .info-product:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.25);
}

.cart-layout .info-product .avt {
    width: 80px;
    overflow: hidden;
    height: 80px;
}

.cart-layout .info-product ul {
    list-style-type: none;
    padding: 0 10px;
}

.info-product .name,
.info-product .count-buy {
    width: 40%;
    height: 80px;
}

.info-product .count,
.info-product .buy {
    width: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.info-product .count button {
    height: 20px;
    width: 20px;
    background: none;
    border: none;
    background-color: #d5c9c9;
    border-radius: 4px;
    cursor: pointer;
}

.info-product .buy button {
    width: 100%;
    cursor: pointer;
    background: greenyellow;
    border: none;
    border-radius: 2px;
}

.info-product button:hover {
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.cart-layout img {
    height: 100%;
}

@keyframes ani {
    0% {
        transform: rotateZ(20deg);
    }

    100% {
        transform: rotateZ(-20deg);
    }
}

@media screen and (max-width: 750px) {
    #menu-1 {
        display: none;
    }

    #menu-2 {
        display: block;
    }

    .menu ul {
        justify-content: space-between;
        padding: 10px;

    }

    .menu ul li img {
        height: 3rem;
        border-radius: 50%;
        border-radius: 0;
    }

    .show-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background: #fadede6d;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .show-menu ul {
        animation: translates .5s;
        position: relative;
        width: 40%;
        top: 0;
        height: 100%;
        flex-direction: column;
        padding: 15px 0;
        justify-content: start;
        align-items: start;
    }

    .show-menu ul li {
        width: 100%;
        font-size: 15px;
        padding: .5rem;
        border-bottom: 1px solid black;
    }


    .banner-title h1 {
        font-size: 20px;
    }

    .banner-title p {
        font-size: 10px;
    }

    .banner-title button {
        padding: .5rem;
        margin-top: 5px;
        color: #fff;
        background-color: red;
        border: none;
        border-radius: 5px;
        font-size: 10px;
        cursor: pointer;
    }


    .banner .banner-img img {
        width: 40%;
        filter: drop-shadow(0px 5px 5px #000);
        animation: ani 10s infinite alternate-reverse linear;
    }

    .login div form {
        width: 250px;
    }

    .login div form input {
        font-size: 10px;
        padding: .2rem;
        border-radius: 2px;
    }

    .login div form input[type='submit'] {
        cursor: pointer;
        font-size: 15px;
    }

    .login div form span {
        color: red;
    }

    .login div form h3 {
        text-align: center;
        font-size: 18px;
    }

    .login div p {
        font-size: 13px;
    }

    /* giao dien san pham */
    .product-display .menu-left {
        display: none;
    }

    .list-product::-webkit-scrollbar {
        display: none;
    }

    /* giao diện liên hệ */


    .bg-1 .text-1 {
        font-size: 15px;
    }

    .contact-layout .info-contact {
        width: 280px;
        height: 100px;
    }

    .contact-layout .info-contact ul {
        font-size: 13px;
    }

    .info-contact img {
        height: 60px;
        border-radius: 50%;
    }

    .info-contact img:hover {
        cursor: pointer;
        transform: scale(1.3);
    }
}

@keyframes translates {
    0% {
        opacity: 0;
        left: -100%;
    }

    100% {
        opacity: 1;
        left: 0;
    }

}