<div id="menu-1">
  <ul>
    <li onclick="load_screen(0)">
      <img src="home-book.webp" alt="" />
    </li>
    <li onclick="load_screen(0)"><b>Trang chủ</b></li>
    <li onclick="load_screen(1)"><b>Sản Phẩm</b></li>
    <li onclick="load_screen(2)"><b>Liên hệ</b></li>
    <li onclick="load_screen(3)"><i class="fas fa-shopping-cart"></i></li>
    <li>
      <b id="btn-login" onclick="formlogin()"
        ><i class="fas fa-sign-in-alt"></i
      ></b>
    </li>
  </ul>
</div>

<div id="menu-2">
  <ul>
    <li onclick="show_menu()">
      <i class="fa-solid fa-bars-staggered fa-2xl"></i>
    </li>
    <li onclick="load_screen(0)">
      <img src="home-book.webp" alt="" />
    </li>
    <li>
      <i
        id="btn-login"
        onclick="formlogin()"
        class="fas fa-sign-in-alt fa-2xl"
      ></i>
    </li>
  </ul>
  <div class="show-menu" id="show-menu-id">
    <ul>
      <li onclick="show_menu()">
        <i class="fa-solid fa-bars-staggered fa-2xl"></i>
      </li>
      <li onclick="load_screen(0)">Trang chủ</li>
      <li onclick="load_screen(1)">Sản Phẩm</li>
      <li onclick="load_screen(2)">Liên hệ</li>
      <li onclick="load_screen(3)"><i class="fas fa-shopping-cart"></i></li>
    </ul>
  </div>
</div>
