<div class="cart-layout">
  <div class="info-product">
    <div class="avt"><img src="/f1662574287.jpg" alt="" /></div>
    <ul class="name">
      <li><b>Iphone 14 Promax</b></li>
      <li>200.000</li>
    </ul>
    <ul class="count-buy">
      <li class="count"><button>-</button> 0 <button>+</button></li>
      <li class="buy"><button>Mua</button></li>
    </ul>
  </div>
  <div class="info-product">
    <div class="avt"><img src="/f1662574287.jpg" alt="" /></div>
    <ul class="name">
      <li><b>Name</b></li>
      <li>Price</li>
    </ul>
    <ul class="count-buy">
      <li class="count"><button>-</button> 0 <button>+</button></li>
      <li class="buy"><button>Mua</button></li>
    </ul>
  </div>
  <div class="info-product">
    <div class="avt"><img src="/f1662574287.jpg" alt="" /></div>
    <ul class="name">
      <li><b>Name</b></li>
      <li>Price</li>
    </ul>
    <ul class="count-buy">
      <li class="count"><button>-</button> 0 <button>+</button></li>
      <li class="buy"><button>Mua</button></li>
    </ul>
  </div>
  <div class="info-product">
    <div class="avt"><img src="/f1662574287.jpg" alt="" /></div>
    <ul class="name">
      <li><b>Name</b></li>
      <li>Price</li>
    </ul>
    <ul class="count-buy">
      <li class="count"><button>-</button> 0 <button>+</button></li>
      <li class="buy"><button>Mua</button></li>
    </ul>
  </div>
  <div class="info-product">
    <div class="avt"><img src="/f1662574287.jpg" alt="" /></div>
    <ul class="name">
      <li><b>Name</b></li>
      <li>Price</li>
    </ul>
    <ul class="count-buy">
      <li class="count"><button>-</button> 0 <button>+</button></li>
      <li class="buy"><button>Mua</button></li>
    </ul>
  </div>
  <div class="info-product">
    <div class="avt"><img src="/f1662574287.jpg" alt="" /></div>
    <ul class="name">
      <li><b>Name</b></li>
      <li>Price</li>
    </ul>
    <ul class="count-buy">
      <li class="count"><button>-</button> 0 <button>+</button></li>
      <li class="buy"><button>Mua</button></li>
    </ul>
  </div>
  <div class="info-product">
    <div class="avt"><img src="/f1662574287.jpg" alt="" /></div>
    <ul class="name">
      <li><b>Name</b></li>
      <li>Price</li>
    </ul>
    <ul class="count-buy">
      <li class="count"><button>-</button> 0 <button>+</button></li>
      <li class="buy"><button>Mua</button></li>
    </ul>
  </div>
  <div class="info-product">
    <div class="avt"><img src="/f1662574287.jpg" alt="" /></div>
    <ul class="name">
      <li><b>Name</b></li>
      <li>Price</li>
    </ul>
    <ul class="count-buy">
      <li class="count"><button>-</button> 0 <button>+</button></li>
      <li class="buy"><button>Mua</button></li>
    </ul>
  </div>
</div>
