<div class="contact-layout">
  <div class="bg-1">
    <div class="text-1">
      <b>Chúng tôi ở đây để phục vụ bạn</b><br />
      Liên hệ với Chúng tôi <br />
      <p>Tuấn Computer luôn đón nhận mọi góp í của bạn</p>
    </div>
  </div>

  <div class="info-contact">
    <ul>
      <li>
        <a href="#"><i class="fas fa-phone-square-alt"></i> 0123456789</a>
      </li>
      <li>
        <a href="#"><i class="fab fa-tiktok"></i> @tuandeptrai</a>
      </li>
      <li>
        <a href="#"><i class="fab fa-facebook"></i> Dương Tuan</a>
      </li>
      <li>
        <a href="#"
          ><i class="fas fa-map-marker-alt"></i> Trường đại học CNTT và TT</a
        >
      </li>
    </ul>
    <img src="/home-book.webp" alt="" />
  </div>
</div>
