<div class="product-display">
  <div class="menu-left">
    <ul>
      <li class="non-menu">
        <b>Tên</b>
        <ul>
          <li>
            <div>
              <input type="radio" name="sortname" id="AtoZ" />
              <label for="AtoZ">A - Z</label>
            </div>
          </li>
          <li>
            <div>
              <input type="radio" name="sortname" id="ZtoA" />
              <label for="ZtoA">Z - A</label>
            </div>
          </li>
        </ul>
      </li>
      <li class="non-menu">
        <b>Loại hàng</b>
        <ul>
          <li>
            <div>
              <input type="checkbox" name="type-product" id="all-product" />
              <label for="all-product">Tất cả</label>
            </div>
          </li>
          <li>
            <div>
              <input type="checkbox" name="type-product" id="mouse" />
              <label for="mouse">Chuột</label>
            </div>
          </li>
          <li>
            <div>
              <input type="checkbox" name="type-product" id="keyboard" />
              <label for="keyboard">Bàn phím</label>
            </div>
          </li>
          <li>
            <div>
              <input type="checkbox" name="type-product" id="screen" />
              <label for="screen">Màn hình</label>
            </div>
          </li>
          <li>
            <div>
              <input type="checkbox" name="type-product" id="heard" />
              <label for="heard">Tai nghe</label>
            </div>
          </li>
        </ul>
      </li>
      <li class="non-menu">
        <b>Giá</b>
        <ul>
          <li>
            <div>
              <input type="checkbox" name="" id="first-price" />
              <label for="first-price">0 - 100.000</label>
            </div>
          </li>
          <li>
            <div>
              <input type="checkbox" name="" id="second-price" />
              <label for="second-price">100.000 - 500.000</label>
            </div>
          </li>
          <li>
            <div>
              <input type="checkbox" name="" id="third-price" />
              <label for="third-price">trên 500.000</label>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="search-bar">
      <div>
        <input type="text" placeholder="Thử tìm gì đó..." name="" id="" />
        <button>Tìm kiếm</button>
      </div>
    </div>
    <div class="list-product">
      <div class="product">
        <div class="avt">
          <img src="/layout/views/img/w1.png" alt="" />
        </div>
        <span class="name"><b>smart watch</b></span>
        <div class="action">
          <span class="price">1.000.000đ</span>
          <button type=""><i class="fas fa-cart-plus"></i></button>
        </div>
      </div>
      <div class="product">
        <div class="avt">
          <img src="/layout/views/img/w1.png" alt="" />
        </div>
        <span class="name"><b>smart watch</b></span>
        <div class="action">
          <span class="price">1.000.000đ</span>
          <button type=""><i class="fas fa-cart-plus"></i></button>
        </div>
      </div>
      <div class="product">
        <div class="avt">
          <img src="/layout/views/img/w1.png" alt="" />
        </div>
        <span class="name"><b>smart watch</b></span>
        <div class="action">
          <span class="price">1.000.000đ</span>
          <button type=""><i class="fas fa-cart-plus"></i></button>
        </div>
      </div>
      <div class="product">
        <div class="avt">
          <img src="/layout/views/img/w1.png" alt="" />
        </div>
        <span class="name"><b>smart watch</b></span>
        <div class="action">
          <span class="price">1.000.000đ</span>
          <button type=""><i class="fas fa-cart-plus"></i></button>
        </div>
      </div>
      <div class="product">
        <div class="avt">
          <img src="/layout/views/img/w1.png" alt="" />
        </div>
        <span class="name"><b>smart watch</b></span>
        <div class="action">
          <span class="price">1.000.000đ</span>
          <button type=""><i class="fas fa-cart-plus"></i></button>
        </div>
      </div>
      <div class="product">
        <div class="avt">
          <img src="/layout/views/img/w1.png" alt="" />
        </div>
        <span class="name"><b>smart watch</b></span>
        <div class="action">
          <span class="price">1.000.000đ</span>
          <button type=""><i class="fas fa-cart-plus"></i></button>
        </div>
      </div>
      <div class="product">
        <div class="avt">
          <img src="/layout/views/img/w1.png" alt="" />
        </div>
        <span class="name"><b>smart watch</b></span>
        <div class="action">
          <span class="price">1.000.000đ</span>
          <button type=""><i class="fas fa-cart-plus"></i></button>
        </div>
      </div>
      <div class="product">
        <div class="avt">
          <img src="/layout/views/img/w1.png" alt="" />
        </div>
        <span class="name"><b>smart watch</b></span>
        <div class="action">
          <span class="price">1.000.000đ</span>
          <button type=""><i class="fas fa-cart-plus"></i></button>
        </div>
      </div>
      <div class="product">
        <div class="avt">
          <img src="/layout/views/img/w1.png" alt="" />
        </div>
        <span class="name"><b>smart watch</b></span>
        <div class="action">
          <span class="price">1.000.000đ</span>
          <button type=""><i class="fas fa-cart-plus"></i></button>
        </div>
      </div>
      <div class="product">
        <div class="avt">
          <img src="/layout/views/img/w1.png" alt="" />
        </div>
        <span class="name"><b>smart watch</b></span>
        <div class="action">
          <span class="price">1.000.000đ</span>
          <button type=""><i class="fas fa-cart-plus"></i></button>
        </div>
      </div>
      <!-- <img src="/layout/views/w1.png" alt="" /> -->
    </div>
  </div>
</div>
