<div id="">
  <button onclick="cancellogin()">
    <i class="fa-solid fa-xmark fa-2xl"></i>
  </button>
  <form>
    <h3>Đăng Nhập</h3>
    <label for="login-user">Tên đăng nhập</label>
    <input type="text" id="login-user" />
    <span>**</span>
    <label for="login-pwd">Mật khẩu</label>
    <input type="password" id="login-pwd" />
    <span>**</span>
    <input type="submit" value="Đăng nhập" />
  </form>

  <p>
    Nếu bạn chưa có tài khoản? <a href="#" onclick="register_()">Đăng kí</a>
  </p>
</div>
