<div id="">
  <button onclick="cancellogin()">
    <i class="fa-solid fa-xmark fa-2xl"></i>
  </button>
  <form action="">
    <h3>Đăng Kí</h3>
    <label for="login-user">Tên đăng nhập</label>
    <input type="text" id="sigin-user" />
    <span>**</span>
    <label for="login-pwd">Nhập mật khẩu</label>
    <input type="password" id="sigin-pwd" />
    <span>**</span>
    <label for="login-repwd">Nhập lại mật khẩu</label>
    <input type="password" id="sigin-repwd" />
    <span>**</span>
    <input type="submit" value="Đăng Kí" />
  </form>
  <p>Bạn đã có tài khoản? <a href="#" onclick="formlogin()">Đăng nhập</a></p>
</div>
